body {
  background: black;
  color: red;
}



.screen {
 height: 100vh;
 /* background-color: black; */
 display: flex;
}


.screen p {
  /* position: absolute; */
  margin: auto;
  font-size: 32px;
  display: none;
}

.screen .desktop {
  display: block;

}
